body {padding: 0; margin: 0;}
#logo-nach {width: 1519px;min-height: 995px; margin: 0 auto;}
#LOGO {width: 100%;min-height: 167px;}
#image {width: 100%;min-height: 687px;}
#our-services {width: 1519px;min-height: 802px; margin: 0 auto;}
#work {width: 1519px;min-height: 750px; margin: 0 auto;}
#rider {width: 1519px;min-height: 920px; margin: 0 auto;}
#register {width: 1519px;min-height: 570px; margin: 0 auto;}
#logo-con {width: 1519px;min-height: 710px; margin: 0 auto;}

.bg-red {
    background: url('./img/red_background.png') no-repeat;
}

.bg-red2 {
    background: url('./img/red_background2.png') no-repeat;
}

.bg-red3 {
    background: url('./img/red_background3.png') no-repeat;
}

.LOGO {
    font-family: sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 120px;
    top: 20px;
  }

.Menu {
    font-size: 26px;
    font-family: sans-serif;
    color: rgb(241, 245, 244);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 65px;
  }

.Br1 {
    border-width: 2px;
    border-color: rgb(241, 245, 244);
    border-style: solid;
    border-radius: 40px;
    position: absolute;
    left: 1000px;
    top: 65px;
    width: 193px;
    height: 62px;
  }

.Login {
    font-size: 26px;
    font-family: sans-serif;
    color: rgb(241, 245, 244);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 1065px;
    top: 55px;
  }
  

.Br2 {
    border-width: 2px;
    border-color: rgb(241, 245, 244);
    border-style: solid;
    border-radius: 40px;
    position: absolute;
    left: 1250px;
    top: 65px;
    width: 221px;
    height: 62px;
  }

.Register {
    font-size: 26px;
    font-family: sans-serif;
    color: rgb(241, 245, 244);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 1315px;
    top: 55px;
  }
  
.Food {
    font-size: 60px;
    font-family: sans-serif;
    color: rgb(241, 245, 244);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 60px;
    top: 300px;
  }

.Be_part {
    font-size: 24px;
    font-family: sans-serif;
    color: rgb(241, 245, 244);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 40px;
    top: 540px;
  }

.sled {
    background-image: url("./img/Sled.png");
    opacity: 0.329;
    position: absolute;
    left: 570px;
    top: 431px;
    width: 941px;
    height: 423px;
    z-index: 27;
  }

.Car {
    background-image: url("./img/car.png");
    position: absolute;
    left: 600px;
    top: 349px;
    width: 513px;
    height: 323px;
    z-index: 77;
  }

.Dvery {
    background-image: url("./img/dvery.png");
    position: absolute;
    left: 617px;
    top: 393px;
    width: 131px;
    height: 133px;
    z-index: 84;
  }

.Samokat {
    background-image: url("./img/samokat.png");
    position: absolute;
    left: 650px;
    top: 531px;
    width: 190px;
    height: 206px;
    z-index: 87;
  }

.Man1 {
    background-image: url("./img/man1.png");
    position: absolute;
    left: 660px;
    top: 411px;
    width: 152px;
    height: 289px;
    z-index: 88;
  }

.Mag {
    background-image: url("./img/mag.png");
    position: absolute;
    left: 860px;
    top: 201px;
    width: 558px;
    height: 325px;
    z-index: 28;
  }

.Car2 {
    background-image: url("./img/car2.png");
    position: absolute;
    left: 1135px;
    top: 401px;
    width: 377px;
    height: 259px;
    z-index: 82;
  }

.Dvery2 {
    background-image: url("./img/dvery2.png");
    position: absolute;
    left: 1310px;
    top: 440px;
    width: 122px;
    height: 149px;
    z-index: 83;
  }
  
.Man2 {
    background-image: url("./img/man2.png");
    position: absolute;
    left: 1110px;
    top: 349px;
    width: 148px;
    height: 253px;
    z-index: 81;
  }

.Velik {
    background-image: url("./img/velik.png");
    position: absolute;
    left: 990px;
    top: 576px;
    width: 222px;
    height: 179px;
    z-index: 79;
  }

.Man3 {
    background-image: url("./img/man3.png");
    position: absolute;
    left: 1000px;
    top: 471px;
    width: 137px;
    height: 241px;
    z-index: 80;
  }

.Motic {
    background-image: url("./img/motic.png");
    position: absolute;
    left: 1340px;
    top: 516px;
    width: 170px;
    height: 184px;
    z-index: 85;
  }

.Man4 {
    background-image: url("./img/man4.png");
    position: absolute;
    left: 1380px;
    top: 460px;
    width: 98px;
    height: 183px;
    z-index: 86;
  }
  .Our_Services {
    font-size: 60px;
    font-family: sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 560.938px;
    top: 1000px;
  }

.Lorem_ipsum {
    font-size: 24px;
    font-family: sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 340.937px;
    top: 1120.548px;
  }

.Delivery_1 {
    background-image: url("./img/Delivery_1.png");
    position: absolute;
    left: 50px;
    top: 1379px;
    width: 469px;
    height: 246px;
  }
  
.Quick_Delivery {
    font-size: 36px;
    font-family: sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 160.937px;
    top: 1610px;
  }

.Delivery_2 {
    background-image: url("./img/Delivery_2.png");
    position: absolute;
    left: 650px;
    top: 1324px;
    width: 290px;
    height: 311px;
  }
  
.Quality_Delivery {
    font-size: 36px;
    font-family: sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 660.938px;
    top: 1610px;
  }

.Customer {
    background-image: url("./img/Customer.png");
    position: absolute;
    left: 1050px;
    top: 1379px;
    width: 396px;
    height: 249px;
  }

.Customer_Satisfaction {
    font-size: 36px;
    font-family: sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 1080.938px;
    top: 1610px;
  }
  .How_does {
    font-size: 60px;
    font-family: sans-serif;
    color: rgb(241, 245, 244);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 200.937px;
    top: 1790px;
  }

.Lorem_ipsum2 {
    font-size: 24px;
    font-family: sans-serif;
    color: rgb(241, 245, 244);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 180px;
    top: 1910px;
  }

.Motic2 {
    background-image: url("./img/Motic2.png");
    position: absolute;
    left: 150px;
    top: 2050px;
    width: 75px;
    height: 71px;
  }

.Motic3 {
    background-image: url("./img/Motic2.png");
    position: absolute;
    left: 150px;
    top: 2150px;
    width: 75px;
    height: 71px;
  }
  
.Motic4 {
    background-image: url("./img/Motic2.png");
    position: absolute;
    left: 150px;
    top: 2250px;
    width: 75px;
    height: 71px;
  }

.Easy {
    font-size: 24px;
    font-family: sans-serif;
    color: rgb(241, 245, 244);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 240px;
    top: 2050px;
  }

.Food_delivery {
    font-size: 24px;
    font-family: sans-serif;
    color: rgb(241, 245, 244);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 240px;
    top: 2140px;
  }

.Easy_2 {
    font-size: 24px;
    font-family: sans-serif;
    color: rgb(241, 245, 244);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 240px;
    top: 2240px;
  }
  
.Buttons {
    background-image: url("./img/Buttons.png");
    position: absolute;
    left: 160px;
    top: 2371px;
    width: 633px;
    height: 91px;
  }

.Mag2 {
    background-image: url("./img/mag2.png");
    position: absolute;
    left: 900px;
    top: 2044px;
    width: 552px;
    height: 351px;
    z-index: 53;
  }

.Map {
    background-image: url("./img/Map.png");
    position: absolute;
    left: 1220px;
    top: 1919px;
    width: 294px;
    height: 476px;
    z-index: 54;
  }

.Man5 {
    background-image: url("./img/man5.png");
    position: absolute;
    left: 1130px;
    top: 2072px;
    width: 362px;
    height: 361px;
    z-index: 55;
  }